<!DOCTYPE html>
<html lang='eng'>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
    <!-- add meta for the viewport of other screen sizes -->
    <title>Boozebible</title>
  </head>
  <body>
</body>
</html>
