<% include ./partials/boilerplate.ejs %>
<div class="container">
<!-- Use a for loop to make an array that you can access -->
<% data.forEach((drink) => { %>
  <h1><%= drink.strDrink %></h1>
    <h2><%= drink.strInstructions %></h2>
<% }) %>
</div>
<% include ./partials/footer.ejs %>
